@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
.ico, .icons .fa-cogs,
.icons .fa-globe, .icons .fa-laptop {
  font-size: 50px;
  color: white;
  border-radius: 10%;
  padding: 15px;
  width: 80px;
  text-align: center; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

header {
  background-color: #313234;
  height: 55px; }
  header nav img {
    padding: 10px 0; }
  header nav ul {
    margin: 0;
    list-style-type: none;
    float: right; }
    header nav ul li {
      display: inline-block; }
      header nav ul li a {
        line-height: 55px;
        padding: 0 20px;
        display: block;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase; }
        @media only screen and (min-width: 1200px) {
          header nav ul li a:hover {
            background-color: #ccc; } }
  @media only screen and (max-width: 767px) {
    header {
      display: block;
      text-align: center;
      position: relative; }
      header nav ul {
        padding-left: 0;
        float: none;
        background-color: #313234; }
        header nav ul li {
          display: block; }
          header nav ul li a:active {
            background-color: #ccc; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    header nav ul li a:active {
      background-color: #ccc; } }

.hero {
  width: 100%;
  height: 100vh;
  padding: 20vh 0 0 0;
  text-align: center;
  background: url(https://images.pexels.com/photos/39245/zebra-stripes-black-and-white-zoo-39245.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed; }
  @media only screen and (max-width: 767px) {
    .hero {
      position: relative;
      top: 215px;
      height: 100vh; } }

.slogan {
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  color: white;
  background-color: rgba(50, 50, 50, 0.5);
  float: right;
  max-width: 800px;
  text-transform: uppercase;
  font-weight: 700; }
  .slogan p {
    opacity: 0.7;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left; }
  @media only screen and (max-width: 767px) {
    .slogan p {
      width: 100%;
      margin: 0;
      text-align: center; } }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 15px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media only screen and (max-width: 767px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
.col-offset-0 {
  margin-left: 0%; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

.icons .fa-cogs,
.icons .fa-globe {
  background-color: #313332; }
  @media only screen and (min-width: 1200px) {
    .icons .fa-cogs:hover,
    .icons .fa-globe:hover {
      background-color: #3498db;
      cursor: pointer; } }
  @media only screen and (max-width: 767px) {
    .icons .fa-cogs:active,
    .icons .fa-globe:active {
      background-color: #3498db;
      cursor: pointer; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .icons .fa-cogs:active,
    .icons .fa-globe:active {
      background-color: #3498db;
      cursor: pointer; } }

.icons .fa-laptop {
  background-color: #3498db; }
  @media only screen and (min-width: 1200px) {
    .icons .fa-laptop:hover {
      background-color: #313332;
      cursor: pointer; } }
  @media only screen and (max-width: 767px) {
    .icons .fa-laptop:active {
      background-color: #313332;
      cursor: pointer; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .icons .fa-laptop:active {
      background-color: #313332;
      cursor: pointer; } }

.icons .row .col-m-12:first-child {
  margin-top: 0; }
@media only screen and (max-width: 767px) {
  .icons .row .col-m-12:first-child {
    margin-top: 200px; } }
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .icons .row .col-m-12:first-child {
    margin-top: 0; } }

div h3 {
  text-transform: uppercase; }

section .container {
  margin: 50px auto;
  text-align: center; }
  section .container .row .col-12 h1 {
    text-transform: uppercase; }

.gallery {
  box-shadow: 2px 2px 20px #313234; }
  .gallery .col-2 {
    position: relative;
    height: 250px;
    padding: 0; }
    .gallery .col-2 img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

@media only screen and (min-width: 1200px) {
  .layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.65s;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; }
    .layer:hover {
      opacity: 1; } }
.layer div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  margin-right: -50%; }
.layer span {
  cursor: pointer; }
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.65s;
    background-color: transparent;
    opacity: 1; } }
@media only screen and (max-width: 767px) {
  .layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.65s;
    opacity: 1;
    transition: 0.65s; } }

.workers {
  margin-top: 100px;
  margin-bottom: 120px; }
  .workers .col-3 div {
    width: 100%;
    height: auto;
    padding-top: 100%;
    position: relative; }
    .workers .col-3 div .team {
      width: 100%;
      padding-top: 100%;
      position: absolute;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      .workers .col-3 div .team:hover {
        opacity: 1; }
  .workers .col-3 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: grayscale(100%); }

@media only screen and (min-width: 1200px) {
  .members {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.65s;
    transform: translate(0%, -100%);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; }
    .members:hover {
      opacity: 1; } }
.members p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  margin-right: -50%;
  text-align: center;
  color: white;
  font-size: 25px; }
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .members {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.65s;
    transform: translate(0%, -100%);
    border-radius: 50%;
    background-color: transparent;
    opacity: 1; } }
@media only screen and (max-width: 767px) {
  .members {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.65s;
    transform: translate(0%, -100%);
    border-radius: 50%;
    background-color: transparent;
    opacity: 1; } }

.tablet img {
  width: 100%;
  max-width: 300px;
  line-height: 300px; }
  @media only screen and (max-width: 767px) {
    .tablet img {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .tablet img {
      width: 100%;
      max-width: 300px;
      line-height: 300px; } }

.promotion {
  background: url(https://image.freepik.com/free-vector/zebra-print_7399.jpg) 0/cover;
  background-attachment: fixed;
  box-shadow: 2px 2px 20px #313234;
  color: #3498db;
  font-size: 20px;
  position: relative; }
  .promotion .container .col-8 h2 {
    color: #3498db;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(50, 50, 50, 0.9);
    letter-spacing: 2px; }
  .promotion .container .col-8 .col-6 {
    color: black;
    background-color: #ffffff;
    box-shadow: 2px 10px 25px #313234; }

.container .numbers .col-3 h2 {
  color: #3498db;
  text-shadow: 1px 1px 5px rgba(50, 50, 50, 0.7);
  font-size: 40px; }
  @media only screen and (min-width: 1200px) {
    .container .numbers .col-3 h2:hover {
      transform: scale(1.5);
      transition: 0.35s; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .container .numbers .col-3 h2:active {
      transform: scale(1.5);
      transition: 0.35s; } }
  @media only screen and (max-width: 767px) {
    .container .numbers .col-3 h2:active {
      transform: scale(1.5);
      transition: 0.35s; } }
.container .numbers .col-3 p {
  word-spacing: 4px; }

.stopka {
  color: white;
  background-color: rgba(50, 50, 50, 0.9); }
  @media only screen and (max-width: 767px) {
    .stopka {
      text-align: center; } }
  .stopka h2:after {
    content: "-----------";
    letter-spacing: -0.1em; }
  @media only screen and (max-width: 767px) {
    .stopka h2:before, .stopka h2:after {
      content: "-----------";
      letter-spacing: -0.1em; } }

.stopka .container .col-4 h2 {
  text-align: left;
  text-shadow: 2px 2px 20px #313234; }
@media only screen and (max-width: 767px) {
  .stopka .container .col-m-12 h2 {
    text-align: center; } }

.contact {
  position: relative;
  display: inline-block;
  margin: 0; }
  .contact div {
    margin: 0;
    padding: 0; }
  .contact p {
    margin: 0; }
  .contact .row .col-4 {
    text-align: right; }
  .contact .row .col-8 {
    text-align: left;
    padding-left: 30px; }

.social .fa {
  height: 100%;
  width: 100%;
  border: 0;
  color: #FFFFFF;
  border-radius: 50%;
  margin: 0;
  cursor: pointer;
  font-size: 38px;
  text-align: center;
  line-height: 80px; }
  @media only screen and (min-width: 1200px) {
    .social .fa:hover {
      transform: scale(1.3);
      color: #3498db; } }
  @media only screen and (max-width: 767px) {
    .social .fa:active {
      transform: scale(1.3);
      color: #3498db; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .social .fa:active {
      transform: scale(1.3);
      color: #3498db; } }
.social .col-2 {
  margin: 0;
  padding: 0; }
.social p {
  margin: 0; }

footer .row .col-12 {
  text-align: center;
  background-color: rgba(50, 50, 50, 0.8);
  line-height: 20px;
  padding: 5px; }
